@font-face {

    font-family: "space-font";

    src: url("../font/ca.ttf");

}

h1,
h2 {

    margin: 0;

    padding: 0;

}

body {

    margin: 0;

    padding: 0;

    font-family: "space-font";

    background-image: url(../img/background.jpg);

    background-size: cover;

    background-repeat: no-repeat;
    max-width: 100%

}

.HUD {

    display: flex;

    font-size: 1.2em;

    height: 60px;

    color: white;

    background-color: rgba(0, 0, 0, 0.4);

    border-bottom: 1px solid black;

}

.score {

    border-right: 1px solid white;

    text-align: center;

    flex: 1;

}

.titre {

    border-right: 1px solid white;

    text-align: center;

    flex: 1;

}

.lifebar {

    flex: 1;

    display: flex;
    padding-left: 100px;

}

.life {

    height: 50px;
}

#gameContainer {

    height: 717px;

    width: 36%;

    position: relative;

}



#shipContainer {

    height: 100px;

    width: auto;

    position: relative;



}
.boutongauche, .boutondroit, .fire {
    display: none;
}
.boutongauche {
    background-image: url(../img/mobile/arrow-left-direction.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.boutondroit {
    background-image: url(../img/mobile/right-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.fire {
    background-image: url(../img/mobile/target.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#ship {

    height: 100px;

    width: 100px;

    position: absolute;

    top: 0px;

    left: calc(50% - 50px);

    z-index: 3;

}

.missile {

    position: absolute;
	bottom : 0;

    display: none;

    z-index: 2;

}
.bouton_mobile {
    display: none;
}
.alienX {

    width: 3.5em;

    height: 3.5em;

	position: absolute;
	

}

.credits {

    background-color: rgba(0, 0, 0, 0.4);

    text-align: center;

    color: white;

    float: right;

}

.credits p {

    margin: 0;

    padding: 0;

    font-size: 22px;

}
.gameover {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;
    height: 78%;
    z-index: 3;
    display: none;
    color: white;
    position: absolute;
    padding-top: 400px;
    top: -20%;
    font-size: 60px;
}
.gameover h2 {
    color: red;
}
.gameover button {
    font-family: "space-font";
    cursor: pointer;
    color: white;
    border: none;
    background-color: grey;
}
.win {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;
    height: 78%;
    z-index: 3;
    display: none;
    color: white;
    position: absolute;
    padding-top: 400px;
    top: -20%;
    font-size: 60px;
}
.win h2 {
    color: greenyellow;
}
.win button {
    font-family: "space-font";
    cursor: pointer;
    color: white;
    border: none;
    background-color: grey;
}
.play {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;
    height: 78%;
    z-index: 3;
    color: white;
    position: absolute;
    padding-top: 400px;
    top: -20%;
    font-size: 60px;
}
.play button {
    font-family: "space-font";
    padding: 10px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: grey;
}
button:hover {
    transition: background .800s;
    background-color: black;
}
/*#########Résolution des écrans ordinateur#########*/
@media (min-width: 1200px) and (max-width: 1500px) {

    #gameContainer {

        height: 538px;

    }
    .play, .win, .gameover {
        font-size: 40px;
        height: 67%;
    }
    #ship {
        height: 80px;
        width: 80px;
    }
    

}

@media (min-width: 1023px) and (max-width: 1199px) {
    body  {
        background-attachment: fixed;
    }
    #gameContainer {

        height: 468px;

    }
    #ship {
        height: 70px;
        width: 70px;
    }
    .HUD {
        font-size: 0.8em;
    }
    .missile {
        height: 35px;
        width: 35px;
    }
}
@media (max-width: 769px) and (orientation: portrait) {
    div {
        display: none;
        background-color: rgba(0,0,0,0);
    }
    .titre {
        display: flex;
        border: none;
        font-size: 15px;
        flex: 1;
    }
    body {
        background-attachment: fixed;
    }
    .bouton_mobile {
        font-family: "space-font";
        font-size: 50px;
        cursor: pointer;
        display: block;
        background-color: black;
        border:none;
        width: 100%;
        color: white;
    }
}
/*####### Résolution IpadPro landscape #######*/
@media (max-width: 1366px) and (max-height: 1024px) and (orientation:landscape) {
    body {
        background-attachment: fixed;
    }
    #gameContainer {
        height: 420px;
    }
    buttons_tact {
        display: block;
    }
}
/*####### Résolution Ipad landscape #######*/
@media (max-width: 1024px) and (max-height: 768px) {
    body {
        background-attachment: fixed;
    }
     #shipContainer {
        height: 60px;
    }
    .play, .win, .gameover {
        font-size: 40px;
        height: 67%;
    }
    #gameContainer {
        height: 570px;
    }
}
/*####### Résolution Iphone6+ landscape #######*/
@media (max-width: 736px) and (max-height:414px) and (orientation: landscape) {
    #gameContainer {
        
        height: 280px;
        
    }
     #shipContainer {
        height: 40px;
    }
    .play, .win, .gameover {
        font-size: 18px;
        height: 71%;
        padding-top: 200px;
    }
    .alienX {
        width: 8vh;
    }
    #ship {
        height: 45px;
        width: 45px;
    }
    .HUD {
        height: 40px;
        font-size: 0.5em;
    }
    .lifebar {
    padding-left: 30px;
    }
    .life {

    height: 30px;
}
    .credits {
        margin-right: 20px;
    }
    .credits h2 {
    font-size: 17px;
}

.credits p {

    font-size: 17px;

}
}
/*####### Résolution Iphone6 landscape #######*/
@media (max-width: 667px) and (max-height:375px) and (orientation: landscape) {
    #gameContainer {
        
        height: 240px;
        
    }
    .play, .win, .gameover {
        font-size: 18px;
        height: 65%;
        padding-top: 200px;
    }
     #shipContainer {
        height: 40px;
    }
    #ship {
        height: 40px;
        width: 40px;
    }
}
/*####### Résolution Iphone5 landscape #######*/
@media (max-width: 568px) and (max-height: 320px) and (orientation: landscape){
    
    #gameContainer {
        
        height: 120px;
        
    }
      .play, .win, .gameover {
        font-size: 15px;
        height: 63%;
        padding-top: 140px;
    }
    #shipContainer {
        height: 40px;
    }
    .credits {
        margin-right: 10px;
    }
    .credits h2 {
    font-size: 14px;
}
}
/*-------------------------------------*/
@media (max-width: 732px) and (max-height: 412px) and (orientation: landscape) {
     .alienX {

        height: 0.8em;
        margin: 0.03em;
    }
}
/*####### Résolution Galaxy S5 landscape #######*/
@media (max-width: 640px) and (max-height: 360px) and (orientation: landscape) {
    #gameContainer {
        
        height: 220px;
        
    }
}