#gameContainer {
	height: 700px;
    width: auto;
    position: relative;
    background-color: black;
}

#alienContainer {
	height: auto;
    width:  50%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

#shipContainer {
    height: 100px;
    width: auto;
    position: relative;
    background-color: aquamarine;
}

#ship {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: calc(50% - 50px);
}

.alienX{
    width: 2.7em;
    height: 2.7em;
    margin: 0.5em;
}